/* Em: src/App.css */

/* Isso faz com que o App ocupe a tela inteira
   e organiza o layout em coluna (Navbar, main, Footer) */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Isso faz com que o <main> (onde o <Outlet> está) 
   cresça e ocupe todo o espaço disponível no meio */
main {
  flex: 1; /* O truque mágico! */
  
  /* Um padding para o conteúdo não colar nas bordas */
  padding: 2rem; 
}

/* Vamos deixar os placeholders de Navbar/Footer com o tema */
nav, footer {
  padding: 1rem 2rem;
  background-color: #2b2a2c; /* Um cinza um pouco diferente do fundo */
  text-align: center;
}